[submodule "SourceCodePro"]
	path = SourceCodePro
	url = https://github.com/adobe/Source-Code-Pro.git
[submodule "SourceSansPro"]
	path = SourceSansPro
	url = https://github.com/adobe/source-sans-pro.git
